#Don't inlcude the cookie for hbd-sync
hbd-cookie.txt
#Don't include hashicorp binaries but do include folders
#https://stackoverflow.com/a/16770464/3085144
nomad
!nomad/
vault
!vault/
consul
!consul/
nomad-driver-podman
